<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/template :: head"></th:block> /*/-->
    <title th:text="#{page.admin.user.title}">Users list</title>
</head>
<body>

<nav class="navbar navbar-inverse" th:replace="fragments/template :: header"></nav>

<div class="container">
    <div class="content">
        <!--/*/ <th:block th:include="admin/main :: admin-menu"></th:block> /*/-->
        <sec:authorize access="hasRole('ROLE_ADMIN')">
                <div class="col-md-9">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th th:text="#{admin.user.email}">Email</th>
                            <th th:text="#{admin.user.firstname}">First Name</th>
                            <th th:text="#{admin.user.lastname}">Last Name</th>
                            <th th:text="#{admin.user.username}">Username</th>
                            <th th:text="#{admin.user.roles}">Roles</th>
                            <th th:text="#{admin.user.enabled}">Enabled</th>
                            <th th:text="#{admin.user.banned}">Banned</th>
                            <th th:text="#{update}">Update</th>
                        </tr>
                        </thead>
                        <tbody th:if="${not #lists.isEmpty(users)}">
                        <tr th:each="user : ${users}">
                            <td th:text="${user.email}">example@gmail.com</td>
                            <td th:text="${user.firstName}">John</td>
                            <td th:text="${user.lastName}">Smith</td>
                            <td th:text="${user.userName}">smitt</td>
                            <td th:text="${user.joinedRoles}">smitt</td>
                            <form th:action="@{/admin/user/update}" method="post">
                                <td><input type="checkbox" name="enabled" th:checked="${user.enabled} == 1" value="1"/></td>
                                <td><input type="checkbox" name="banned" th:checked="${user.banned} == 1" value="1"/></td>
                                <td><input type="submit" class="btn btn-primary" th:value="#{update}"/></td>
                                <input type="hidden" name="id" th:value="${user.id}"/>
                                <input type="hidden" name="email" th:value="${user.email}"/>
                                <input type="hidden" name="firstName" th:value="${user.firstName}"/>
                                <input type="hidden" name="lastName" th:value="${user.lastName}"/>
                                <input type="hidden" name="userName" th:value="${user.userName}"/>
                                <input type="hidden" name="joinedRoles" th:value="${user.joinedRoles}"/>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </sec:authorize>
    </div> <!-- /content -->

    <!--/*/ <th:block th:include="fragments/template :: footer"></th:block> /*/-->
</div> <!-- /container -->

</body>
</html>