<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/template :: head"></th:block> /*/-->
    <title th:text="#{page.user.remove.title}">This is user page!</title>
</head>
<body>

<nav class="navbar navbar-inverse" th:replace="fragments/template :: header"></nav>

<div class="container">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert" th:text="#{user.remove.alert}">
            <strong>Success!</strong> Your account was removed!
        </div>
    </div>

    <!--/*/ <th:block th:include="fragments/template :: footer"></th:block> /*/-->

</div> <!-- /container -->

<!--/*/ <th:block th:include="fragments/template :: scripts"></th:block> /*/-->

</body>
</html>